<!-- <app-sidenav>
  <div class="container">
    <h1 class="mat-display-3">Main Content</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nobis illum animi temporibus omnis.
      Consequatur qui fugit facilis reiciendis deserunt, debitis beatae! Illo dolorem asperiores nisi excepturi eum
      veritatis cupiditate.
    </p>
  </div>
</app-sidenav> -->


<span >  
  <mat-toolbar>
      <img class = "leftLogo" src="assets/images/logo.svg" alt="Infinite Sky DC logo" />


      <h1 class="title">Infinite Sky DC</h1>

    
    <span class="menuButtons">
      <span class="link">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </span>
      <span class="link">
        <a routerLink="/shop" routerLinkActive="active">Shop</a>
      </span>
      <span class="link">
        <a routerLink="/about" routerLinkActive="active">About</a>
      </span>
    </span>

  </mat-toolbar>
</span>
<div class="content">
  <router-outlet></router-outlet>
</div>
