<mat-toolbar color="secondary">
  <div >     
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <img class = "leftLogo" src="assets/images/logo.svg" alt="Infinite Sky DC logo" />
  <div>
    <a routerLink="/home" routerLinkActive="active">Infinite Sky DC</a>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav" role="navigation">
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/shop" routerLinkActive="active">Shop</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div (sidenavToggle)="sidenav.toggle()"></div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


